<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scheduler SPA</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script>
        // makes an ajax call to the url "/json"
        /*(function () {

            var data = {
                name: 'Edwin Villanueva',
                id: 32
            };

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/json');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.addEventListener('readystatechange', function () {
                if ( xhr.status === 200 && xhr.readyState === 4 ) {
                    console.log(xhr.responseText);
                }
            });
            xhr.send(JSON.stringify(data));
        }());*/


    </script>
</head>
<body>
    <form name="candidate">
        <input type="text" name="name" value="Edwin Villanueva"/>
        <input type="text" name="phone" value="408.444.3256"/>
        <textarea name="notes">UI Developer</textarea>
    </form>

    <button>Save Candidate</button>
    <table>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Notes</th>
        </tr>
        <tbody id="candidates_info">


        </tbody>
    </table>
    <script>
        // function to extract the form data and create a json object from it
        // source code
        function extractJsonFromForm (form) {
            return {
                name:  form.name.value,
                phone: form.phone.value,
                notes: form.notes.value
            };
        }

        // test code
        var obj = extractJsonFromForm(document.forms.candidate);
        console.log(obj);

        function sendCandidateData(data, callback) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/abc');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.addEventListener('readystatechange', function () {
                if(xhr.readyState === 4){
                    if(xhr.status === 200){
                        callback(xhr.responseText);
                    }
                    else{
                        console.log(xhr.statusText);
                    }
                }
            });
            xhr.send(JSON.stringify(data));
        }

        // test code
        sendCandidateData({
            name: 'Edwin Villanueva',
            phone: '408.222.3265',
            notes: 'UI Developer'
        }, function (results) {
            var res = JSON.parse(results);
            console.log(res.message === 'Thanks for the info!' ? 'AJAX test passed' : 'Ajax test failed');
        });

        // function to write data into a table

        function writeCandidateToTable(tbody, data, schema) {

            //todo: insert before if children exist, else appendchild
            if(tbody.children.length){
                tbody.insertBefore(createCandidateTr(data, schema), tbody.children[0])
            }else{
                tbody.appendChild(createCandidateTr(data, schema));
            }
        }

        function createCandidateTr(data, schema) {
            var tr = document.createElement('tr');
            schema.forEach(function (key) {
                var td = document.createElement('td');
                td.innerHTML = data[key];
                tr.appendChild(td);
            });
            return tr;
        }

        // test code for createCandidateTr
        var tr = createCandidateTr({
            name: 'Edwin Villanueva',
            notes: 'UI Developer',
            phone: '408.222.3265'
        }, ['name', 'phone', 'notes']);

        console.log(tr);

        // test code for write candidate
        writeCandidateToTable(document.getElementById('candidates_info'), {
            name: 'Edwin Villanueva',
            notes: 'UI Developer',
            phone: '408.222.3265'
        }, ['name', 'phone', 'notes']);

    </script>
    <script>

    </script>
</body>
</html>